/* CSS externo */
 
/* seletor {
    propriedade: valor;
} */
 
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
}
 
h1 {
    font-size: 2em; /* 1rem = 16px  ->  1em = 'M' */
    font-weight: bold;
}
 
h2 {
    font-size: 1.5rem;
    font-weight: 700;
}
 
header {
    background-color: #000000;
    padding: 1rem 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    position: sticky; /* pode ser necessário top, left, bottom ou right */
    top: 0;
    border: 2px solid #000000;
}
 
header ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header a {
    color: white;
    font-weight: 700;
    padding: .5rem 1rem;
}

header a:hover {
    background-color: rgb(135, 154, 154);
    border-radius: 5px 5px;
}
 
section {
    height: auto;
    margin: 2.5rem;
    scroll-margin-top: 4rem;
    padding: 1rem;
    border: 1px solid #000000;
}

.titulo-secao{
    text-align: center;
}
 
p {
    margin-bottom: 1rem
}

section form {
    border: 1px solid #000000;
    
}

form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
}

input, textarea{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid black;
    background-color: #fff;
    color: #000000;
}

form button {
    border: 2px solid black;
    border-radius: 50px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    transition: backgrond-color 0.3s ease;
}

form button:hover{
    background-color: aqua;
    color: black;
}

form label{
    color: #fff;
    font-weight: bold;
}

footer{
    background-color: rgb(0, 0, 0);
    border: 3px solid #000000;
    color: white;
    align-items: center;
}

section{
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 25px 25px;
}


footer nav{
    text-align: center;
}
footer ul{
    display:inline-flex;
    gap: 10px;
    padding: 0px 0px 15px 0px;
}

.icon {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
    
}
 

.icon i {
    color: rgb(255, 255, 255);
    font-size: 15px;
    transition: color 0.3s ease;
}
 
 
.card{
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
    list-style: none;
    background-color: white;
    color: #000000;
    margin: 0px 0px 10px 0px;
    align-items: center;
}
 
 
.titulo-card{
    font-weight: 700;
    color: blue;
    font-size: 1.3rem;
    text-align: center;
}
 
.instituicao-card{
    font-size: 1.1rem;
    color: black;
    text-align: center;
}
 
.icone-card{
    text-align: center;
    font-size: 32px;
}

.cards-em-colunas{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cards-em-linhas {
    display: flex;               /* Ativa o Flexbox */
    flex-direction: row;        /* Deixa os cards em linha */
    justify-content: center;    /* Centraliza horizontalmente */
    align-items: center;        /* Alinha no eixo vertical (linha horizontal dos cards) */
    flex-wrap: wrap;            /* Quebra linha se não couber na tela */
    gap: 1rem;                  /* Espaço entre os cards */
}


.ano-card{
    text-align: center;
}

