/* CSS externo */

/* seletor {
    propriedade: valor;
} */

:root {
    --cor-texto-menu: white;
    --cor-primaria: #fff;
    --cor-cabecalho: #000;
    --cor-secundaria: #000000;
    --cor-fundo: #ffffff;
    --cor-fundoSection: #000;
    --cor-texto: #fff;
    --cor-texto-secundario: #000000;
    --cor-texto-function: #000000;
    --cor-borda: #000;
    --cor-borda-card: #ffffff;
    --cor-hover: #879a9a;
    --cor-whatsapp: #25D366;
    --cor-whatsapp-hover: #1ebe5d;
    --cor-botao: #fff;
    --cor-botao-hover: aqua;
    --cor-titulo-card: #0000ff;
    --cor-sombra: rgba(0, 0, 0, 1);
    --cor-fundo-card: rgb(255, 255, 255);

}

[data-theme="dark"] {
    --cor-texto-menu: white;
    --cor-cabecalho: #2c2c2c;
    --cor-primaria: #ffff;
    --cor-secundaria: #ffffff;
    --cor-fundo: #1f2937;
    --cor-fundoSection: #1e1e1e;
    --cor-texto: #ffffff;
    --cor-texto-secundario: #000000;
    --cor-texto-function: #000000;
    --cor-borda: #2c2c2c;
    --cor-borda-card: #000000;
    --cor-hover: #4d4dff;
    --cor-whatsapp: #25D366;
    --cor-whatsapp-hover: #1ebe5d;
    --cor-botao: #1e1e1e;
    --cor-botao-hover: #00ffff;
    --cor-titulo-card: #0000ff;
    --cor-sombra: rgba(0, 0, 0, 0.8);
    --cor-fundo-card: rgb(255, 255, 255);

}

[data-theme="contrast"] {
    --cor-texto-menu: black;
    --cor-cabecalho: #ffff00;
    --cor-primaria: #ffffff;
    --cor-secundaria: #000000;
    --cor-fundo: #000000;
    --cor-fundoSection: #000000;
    --cor-texto: #ffffff;
    --cor-texto-secundario: #ffff00;
    --cor-texto-function: #ffffff;
    --cor-borda: #ffff00;
    --cor-hover: #fdfdfd;
    --cor-whatsapp: #ffffff;
    --cor-whatsapp-hover: #ffff00;
    --cor-botao: #ffffff;
    --cor-botao-hover: #ffff00;
    --cor-titulo-card: #ffffff;
    --cor-sombra: rgba(0, 0, 0, 0.8);
    --cor-fundo-card: black;
    --cor-borda-card: #ffff00;
}



body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--cor-fundo);
}

h1,
h2 {
    color: var(--cor-primaria);
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

header {
    background-color: var(--cor-cabecalho);
    padding: 1rem 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    border: 2px solid var(--cor-borda);
}

header ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header a {
    color: var(--cor-texto-menu);
    font-weight: 700;
    padding: .5rem 1rem;
}

header a:hover {
    background-color: var(--cor-hover);
    border-radius: 5px 5px;
}

section {
    height: auto;
    margin: 2.5rem;
    scroll-margin-top: 4rem;
    padding: 1rem;
    background-color: var(--cor-fundoSection);
    color: var(--cor-texto);
    border-radius: 25px;
    border: 1px solid var(--cor-borda);
}

.titulo-secao {
    text-align: center;
}

#sobreMim {
    display: block;
}

#sobreMim img {
    float: left;
    margin: 0 32px 16px 0;
    width: 25%;
    border-radius: 15px 15px;
}

p {
    margin-bottom: 1rem;
}

section form {
    border: 1px solid var(--cor-borda);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
}

input,
textarea {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--cor-borda);
    background-color: var(--cor-primaria);
    color: var(--cor-texto-function);
}

form button {
    border: 2px solid var(--cor-borda);
    border-radius: 50px;
    background-color: var(--cor-botao);
    color: var(--cor-secundaria);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: var(--cor-botao-hover);
    color: var(--cor-texto-secundario);
}

form label {
    color: var(--cor-texto);
    font-weight: bold;
}

footer {
    background-color: var(--cor-fundoSection);
    border: 3px solid var(--cor-borda);
    color: var(--cor-texto);
    align-items: center;
}

footer nav {
    text-align: center;
}

footer ul {
    display: inline-flex;
    gap: 10px;
    padding: 0px 0px 15px 0px;
}

.icon {
    text-decoration: none;
    color: var(--cor-texto);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.icon i {
    color: var(--cor-texto);
    font-size: 15px;
    transition: color 0.3s ease;
}

.card {
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 2px 6px var(--cor-sombra);
    list-style: none;
    background-color: var(--cor-fundo-card);
    color: var(--cor-texto-function);
    margin: 0px 0px 10px 0px;
    align-items: center;
    border: solid var(--cor-borda-card);
}

.card li {
    margin-bottom: 8px;
}

.titulo-card {
    font-weight: 700;
    color: var(--cor-titulo-card);
    font-size: 1.3rem;
    text-align: center;
}

.instituicao-card {
    font-size: 1.1rem;
    color: var(--cor-texto-secundario);
    text-align: center;
}

.card-imagem img {
    width: 100%;
    border-radius: 8px;

}

.icone-card {
    text-align: center;
    font-size: 32px;
}

.card-descricao {
    margin-top: 0.5rem;
    font-size: 0.95rem;
    color: var(--cor-fundoSection);
}

#meusProjetos .card {
    width: 30%;
}

.botao {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    margin: 0.3rem 0.3rem 0 0;
    cursor: pointer;
    font-weight: bold;
}

.botao:hover {
    cursor: pointer;
    background-color: var(--cor-fundo);
}

.botao-demo {
    background-color: var(--cor-cabecalho);
    color: var(--cor-fundoSection);
}

.botao-continue {
    background-color: var(--cor-cabecalho);
    color: var(--cor-fundoSection);
}

.botao-compartilhar {
    background-color: var(--cor-fundo);

}

.botao-compartilhar:hover {
    background-color: var(--cor-hover);
}

.artigos {
    justify-content: space-evenly;
}

.cards-em-colunas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cards-em-linhas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.ano-card {
    text-align: center;
}

.botao-whatsapp {
    background-color: var(--cor-whatsapp);
    color: var(--cor-secundaria);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-whatsapp:hover {
    background-color: var(--cor-whatsapp-hover);
}